.skills_container {
  display: flex;
  /* padding-bottom: 10%; */
  border-radius: 10%;
  padding: 5% 0%;
  font-family: "Noto Sans Mono", monospace;
  flex-direction: column;
}

@media (min-width: 900px) {
  .skills_container {
    /* align-items: left;
      text-align: left; */
    align-items: center;
    border: 1px solid #e0dede;
    box-shadow: 10px 10px 8px #888888;
  }
  /* .skills_container > h5 {
      padding-left: 15%;
    } */
  .skills_container:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }
}

@media (max-width: 900px) {
  .skills_container {
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
  }
}

.skills_container > img {
  padding: 5%;
}
